@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: Tahoma, Arial, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/* HEADER */
.header-section {
    margin-top: 70px;
}

nav {
    align-items: center;
}

.header-section-div {
    display: flex;
    justify-content: space-between;
    width: 1324px;
    background-color: #081A24;
    margin: 0 auto;
    color: #1A414D;
    align-items: center;
    height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.header-section-image {
    margin: 0 auto;
    display: block;
    width: 1324px;
}

.header-moon {
    height: 20px;
    cursor: pointer;
}

.header-divisor {
    display: flex;
}

nav a {
    color: #1A414D;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 10px;
    font-size: 14px;
}

nav a:hover {
    color: #035674;
}



/* MAIN */
/* Section 1 */
.main-section {
    margin: 0 auto;
    margin-top: 70px;
    width: 1024px;
    text-align: center;
    font-size: 22px;
}

.main-section-h1 {
    color: #211F20;
}

.main-section-p {
    color: #211F20;
    margin-top: 30px;
    letter-spacing: 2px;
    font-size: 17px;
    line-height: 26px;
}

.images-exemple {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}

.images-div img:hover {
    transform: scale(1.1);
    transition: all .8s;
    cursor: pointer;
}

.images-div img {
    transition: all .8s;
}

.images-div span {
    display: block;
}

.images-div span:nth-child(2) {
    margin-top: 12px;
    color: #514B54;
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.images-div span:nth-child(3) {
    margin-top: 10px;
    font-size: 18px;
    color: #A1A2A3;
}

.main-section-2 {
    margin: 0 auto;
    width: 1324px;
    position: relative;
}

.main-section-2-image {
    margin-top: 70px;
    width: 1324px;
    height: 700px;
    position: relative;
    background-color: aqua;
}

.main-section-position {
    position: absolute;
    top: 200px;
    left: 10%;
}

.main-section-2-h2 {
    font-size: 50px;
    color: #ffffff;
}

.main-section-2-p {
    margin-top: 40px;
    color: #ffffff;
    width: 600px;
    font-size: 20px;
    line-height: 30px;
}

.main-address {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: #003D52;
}

.iframe-div {
    margin-top: 50px;
    width: 1324px;
    display: flex;
    justify-content: center;
}

.main-frame-maps {
    text-align: center;
    width: 1324px;
    height: 600px;
}

/* FOOTER */

.footer-section {
    margin: 0 auto;
    margin-top: 70px;
    width: 1324px;
    height: 60px;
    text-align: center;
    background: #001018;
}

.footer-copy {
    padding: 20px;
}

.footer-copy span {
    font-size: 16px;
    color: #556A6D;
    letter-spacing: 4px;
}






.divai {
    width: 1000px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, 1fr);
}
.divizinha {
    background-color: red;
    width: 200px;
    height: 200px;
    background-image: url(/imagens/modelo1.jpg);
    background-repeat: no-repeat;
}