@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: Tahoma, Arial, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/* HEADER */
.header-section {
    margin-top: 4.375rem;
}

nav {
    align-items: center;
}

.header-section-div {
    display: flex;
    justify-content: space-between;
    width: 82.75rem;
    background-color: #081A24;
    margin: 0 auto;
    color: #1A414D;
    align-items: center;
    height: 2.5rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
}

.header-section-image {
    margin: 0 auto;
    display: block;
    width: 82.75rem;
}

.header-moon {
    height: 1.25rem;
    cursor: pointer;
}

.header-divisor {
    display: flex;
}

nav a {
    color: #1A414D;
    text-transform: uppercase;
    letter-spacing: 0.188rem;
    padding-left: 0.625rem;
    font-size: 0.875rem;
}

nav a:hover {
    color: #035674;
}

/* MAIN */
/* Section 1 */
.main-section {
    margin: 0 auto;
    margin-top: 4.375rem;
    width: 64rem;
    text-align: center;
    font-size: 1.375rem;
}

.main-section-h1 {
    color: #211F20;
}

.main-section-p {
    color: #211F20;
    margin-top: 1.875rem;
    letter-spacing: 2px;
    font-size: 1.063rem;
    line-height: 1.625rem;
}

.images-exemple {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.images-div img:hover {
    transform: scale(1.1);
    transition: all .8s;
    cursor: pointer;
}

.images-div img {
    transition: all .8s;
}

.images-div span {
    display: block;
}

.images-div span:nth-child(2) {
    margin-top: 0.75rem;
    color: #514B54;
    letter-spacing: 0.188rem;
    font-weight: 600;
    font-size: 1.125rem;
    text-transform: uppercase;
}

.images-div span:nth-child(3) {
    margin-top: 0.625rem;
    font-size: 1.125rem;
    color: #A1A2A3;
}

.main-section-2 {
    margin: 0 auto;
    width: 82.75rem;
    position: relative;
}

.main-section-2-image {
    margin-top: 4.375rem;
    width: 82.75rem;
    height: 43.75rem;
    position: relative;
    background-color: aqua;
}

.main-section-position {
    position: absolute;
    top: 200px;
    left: 10%;
}

.main-section-2-h2 {
    font-size: 3.125rem;
    color: #ffffff;
}

.main-section-2-p {
    margin-top: 2.5rem;
    color: #ffffff;
    width: 37.5rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.main-address {
    margin-top: 3.125rem;
    text-align: center;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: #003D52;
}

.iframe-div {
    margin-top: 3.125rem;
    width: 82.75rem;
    display: flex;
    justify-content: center;
}

.main-frame-maps {
    text-align: center;
    width: 82.75rem;
    height: 37.5rem;
}

/* FOOTER */

.footer-section {
    margin: 0 auto;
    margin-top: 4.375rem;
    width: 82.75rem;
    height: 3.75rem;
    text-align: center;
    background: #001018;
}

.footer-copy {
    padding: 1.25rem;
}

.footer-copy span {
    font-size: 1rem;
    color: #556A6D;
    letter-spacing: 0.25rem;
}
